// src\app\components\navHeader\ui\navHeader.module.scss

.navHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #00038c;

  a {
    &:hover {
      text-shadow: 0px 0px 2px #0089ff;
    }
  }

  .active {
    color: #19a001;
    text-shadow: 0px 0px 2px #0089ff;
  }
}

@media (max-width: 768px) {
  .navHeader {
    align-items: center;
    flex-direction: column;
  }
}
