.baner {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  color: aqua;

  h2 {
    font-size: 30px;
    margin: 10px;
  }
  p {
    padding-left: 20px;
    max-width: 50%;
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #fff8dc;
  }
}

.banerBc {
  position: absolute;
  z-index: -1;
}
